* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
}
:root {
  --primary: #f2f2f2;
  --first-component: #e28625;
  --second-component: #006a71;
  --third-component: #00403e;
}
@font-face {
  font-family: "deca";
  src: url(/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "bg-light";
  src: url(/Big_Shoulders_Display/static/BigShouldersDisplay-Light.ttf);
}
@font-face {
  font-family: "bg";
  src: url(/Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf);
}
h1 {
  margin: 20px 0;
  font-size: 2.5rem;
  color: white;
  font-family: "bg";
}
p,
button {
  color: white;
  font-family: "deca";
}
button {
  width: 120px;
  height: 40px;
  border: none;
  margin-top: 100px;
  border-radius: 20px;
  background-color: var(--primary);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  display: grid;
  height: 420px;
  grid-template-columns: repeat(3, 250px);
  background-color: var(--primary);
}
.body div {
  padding: 25px 25px;
}
.first-component {
  background-color: var(--first-component);
}
.first-component button {
  color: var(--first-component);
}
.first-component button:hover {
  border: 1px solid white;
  color: var(--primary);
  background-color: var(--first-component);
}
.second-component {
  background-color: var(--second-component);
}
.second-component button {
  color: var(--second-component);
}
.second-component button:hover {
  border: 1px solid white;
  color: var(--primary);
  background-color: var(--second-component);
}
.third-component {
  background-color: var(--third-component);
}
.third-component button {
  color: var(--third-component);
}
.third-component button:hover {
  border: 1px solid white;
  color: var(--primary);
  background-color: var(--third-component);
}
@media (max-width: 780px) {
  .body {
    display: grid;
    grid-template-rows: repeat(3, 420px);
    grid-template-columns: repeat(1, 250px);
    background-color: var(--primary);
  }
}
